<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/style.css" />
    <title>{{ title }}</title>
  </head>
  <body>
    <header>
      <h1>Results from Serverside Form 2</h1>
    </header>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="clientsideForm.html">Clientside form processing</a></li>
        <li><a href="serversideForm1.html">Serverside form processing 1</a></li>
        <li><a href="/serverForm">Serverside form processing 2</a></li>
      </ul>
    </nav>
    <div class="container">
      <h2>Form Results</h2>
      <p>Name :{{ name }} &nbsp;{{ surname }}</p>
    </div>
  </body>
</html>
